// *************************GENERAL*********************//
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

@font-face {
  font-family: "Yeseva One";
  src: ("font/yeseva_one.ttf");
}

// **********************HEADER***********************//
#header {
  margin: 0;
  padding: 0;
  height: 750px;
  background-image: url(img/background_header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  .marginhead {
    margin-left: 10%;
    margin-right: 10%;
  }
  .headernav {
    nav {
      font-family: "Gentium Book Basic";
      font-weight: 700;
      font-size: 21px;
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-top: 5%;
      padding-left: 10%;
      padding-right: 11%;
      li:hover {
        color: #cc9900;
      }
    }
    .dropdown {
      display: none;
    }
    // .burgernav {
    //   display: none;
    // }

    #logo {
      float: left;
      margin-top: 2%;
    }
    // #reseau {
    //   display: flex;
    //   flex-direction: row;
    //   justify-content: flex-end;
    //   color: white;
    // }
    .fa-twitter {
      color: #cc9900;
      padding: 0% 0% 0% 0%;
      margin: 0% 0% 0% 200%;
    }
    .fa-twitter:hover {
      color: white;
      cursor: pointer;
    }
    .fa-youtube {
      color: #cc9900;
      padding: 0% 0% 0% 0%;
      margin: 0% 0% 0% 80%;
    }
    .fa-youtube:hover {
      color: white;
      cursor: pointer;
    }
    .fa-facebook-f {
      color: #cc9900;
      padding: 0% 0% 0% 0%;
      margin: 0% 0% 0% 0%;
    }
    .fa-facebook-f:hover {
      color: white;
      cursor: pointer;
    }
  }
}
.txtandimg1 {
  margin: 12% 13% 0% 13%;
  padding: 0% 0% 0% 0%;
  h1 {
    font-family: "Yeseva One";
    font-size: 90px;
    text-align: center;
    color: white;
  }
  #containerhead {
    margin-right: auto;
    margin-left: auto;
    margin-top: 4%;
    display: flex;
    height: 4.5%;
    width: 23%;
    flex-direction: row;
    justify-content: space-between;
  }
}
#boutonheader {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  font-family: "Lato";
  font-size: 18px;
  color: white;

  #boutonbook {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1% 2% 1% 2%;
    border: solid 1px;
    border-color: black;
    margin-right: 2%;
  }
  #boutonbook:hover {
    background-color: black;
  }
  #boutonmenu {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1% 2% 1% 2%;
    border: solid 1px;
    border-color: white;
  }
  #boutonmenu:hover {
    background-color: white;
    color: black;
  }
}
// **************************SECTION1***************************************//
#section1 {
  background-image: url(img/background_s1.jpg);
  margin: 0;
  padding: 0;
  height: 710px;
  background-size: cover;
  background-repeat: no-repeat;

  div {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    padding-top: 1%;
  }
  .textleft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      font-family: "Yeseva One";
      font-size: 36px;
      color: #cc9900;
      text-align: center;
      margin-bottom: 4%;
    }
    p {
      font-family: "Lato";
      font-size: 16px;
      color: black;
      text-align: center;
    }
    #containers1 {
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 9%;
    }
    #cook {
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 11%;
      margin-top: 11%;
    }
  }
  #imgs1 {
    margin: 0;
  }
}
// ****************************SECTION2******************************************//
.section2 {
  background-image: url(img/background_s2.jpg);
  margin: 0;
  padding: 4% 3% 0% 50%;
  height: 710px;
  background-size: cover;
  background-repeat: no-repeat;

  #margins2 {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.5);
      height: 500px;
      padding: 0% 10% 0% 10%;
      svg {
        width: 31%;
        margin-left: auto;
        margin-right: auto;
      }

      h2 {
        font-family: "Yeseva One";
        font-size: 36px;
        color: white;
        text-align: center;
        margin-bottom: 4%;
      }
      p {
        font-family: "Lato";
        font-size: 16px;
        color: white;
        text-align: center;
      }
      img {
        margin-left: auto;
        margin-right: auto;
        padding-top: 14%;
      }
    }
  }
}

// **************************************SECTION3*********************************//

#section3 {
  background-image: url(img/background_s3.jpg);
  margin: 0;
  padding: 0;
  height: 750px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-top: 8%;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 500px;
    padding: 0% 10% 0% 10%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    h2 {
      font-family: "Yeseva One";
      font-size: 36px;
      color: white;
      text-align: center;
    }
    svg {
      width: 37%;
      margin-left: auto;
      margin-right: auto;
    }
    p {
      font-family: "Gentium Book Basic";
      font-weight: 700;
      font-size: 25px;
      color: white;
      text-align: center;
      margin-bottom: 6%;
    }
    span {
      font-family: "Lato";
      font-size: 18px;
      color: white;
      text-align: center;
    }
    .fa-quote-left {
      color: #a0a6a5;
      width: 12%;
      padding: 0% 1% 0% 0%;
      vertical-align: 47%;
    }
  }
}

// ********************************SECTION4***********************************//
.section4 {
  background-image: url(img/background_s1.jpg);
  margin: 0;
  padding: 0;
  height: 710px;
  background-size: cover;
  background-repeat: no-repeat;
  #bloc4 {
    display: flex;
    flex-direction: row;
    height: 500px;
    padding: 5% 10% 0% 10%;
    margin-left: auto;
    margin-right: auto;
    #blocdetext {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0% 0% 0% 7%;
    }
    h2 {
      font-family: "Yeseva One";
      font-size: 36px;
      color: #cc9900;
      text-align: center;
      padding: 0% 0% 1% 0%;
    }
    #containers4 {
      margin-left: auto;
      margin-right: auto;
      width: 37%;
    }
    p {
      font-family: "lato regular";
      font-size: 16px;
      color: black;
      text-align: center;
      margin-top: 5%;
      margin-bottom: 9%;
    }
    label {
      font-family: "Open Sans";
      font-weight: 700;
      font-size: 14px;
      color: #cc9900;
    }
    #date:after {
      display: none;
    }
    #images4 {
      display: flex;
      flex-direction: row;
      margin-right: 5%;
    }
    #imgres {
      margin-right: 5%;
    }
    #formulaire {
      display: flex;
      flex-direction: column;
      padding-bottom: 10%;
    }
    input {
      height: 100%;
      font-size: 90%;
      padding: 3% 3% 3% 4%;
      font-family: "Open sans";
      font-weight: 400i;
    }
    .form_part1 {
      display: flex;
      flex-direction: row;
      padding: 2% 0% 11% 0%;
    }
    .form_part2 {
      display: flex;
      flex-direction: row;
      padding-bottom: 10%;
    }
    #name {
      display: flex;
      flex-direction: column;
      padding: 0% 10% 0% 0%;
      width: 40%;
    }
    #email {
      display: flex;
      flex-direction: column;
      padding: 0% 10% 0% 0%;
      width: 40%;
    }
    #date {
      display: flex;
      flex-direction: column;
      padding: 0% 10% 0% 0%;
      width: 40%;
    }
    #number {
      display: flex;
      flex-direction: column;
      padding: 0% 10% 0% 0%;
      width: 40%;
    }
    #booknow {
      color: white;
      font-family: "Open Sans";
      font-size: 16px;
      background-color: #cc9900;
      margin: 0% 23% 0% 23%;
      padding: 1.5% 0% 1.5% 0%;
      text-align: center;
    }
  }
}
// ************************FOOTER***********************//
footer {
  background-color: #191919;
  height: 320px;
  padding: 3% 10% 0% 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  h3 {
    font-family: "Yeseva One";
    font-size: 21px;
    color: white;
    text-align: center;
  }
  svg {
    width: 42%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }
}
p {
  font-family: "Open Sans";
  font-size: "16px";
  color: white;
  text-align: center;
}
span {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: "16px";
  color: white;
}
#about {
  width: 30%;
}
#opening {
  width: 25%;

  .fa-cc-mastercard {
    color: white;
  }
  .fa-cc-paypal {
    color: white;
  }
  .fa-cc-visa {
    color: white;
  }
  .fa-cc-discover {
    color: white;
  }
  div {
    display: flex;
    justify-content: space-around;
    padding: 11% 30% 0% 30%;
  }
}
#location {
  width: 25%;
  div {
    display: flex;
    justify-content: space-around;
    padding: 11% 30% 0% 30%;
  }
  .fa-facebook-f {
    color: white;
  }
  .fa-youtube {
    color: white;
  }
  .fa-twitter {
    color: white;
  }
  .fa-poll {
    color: white;
  }
  .fa-facebook-f:hover {
    color: #cc9900;
    cursor: pointer;
  }
  .fa-youtube:hover {
    color: #cc9900;
    cursor: pointer;
  }
  .fa-twitter:hover {
    color: #cc9900;
    cursor: pointer;
  }
  .fa-poll:hover {
    color: #cc9900;
    cursor: pointer;
  }
}

// ***************************************MEDIA QUERIES*********************************
// *******************************************1400px************************************
@media screen and (max-width: 1400px) {
  // ***************************************HEADER*******************************************
  #header {
    height: 500px;
    .headernav {
      nav {
        font-size: 17px;
      }
    }
    .txtandimg1 {
      h1 {
        font-size: 50px;
        margin-top: 3%;
      }
      #containerhead {
        width: 19%;
      }
    }
    #boutonheader {
      font-size: 15px;
      #boutonbook {
        margin-right: 1.5%;
      }
    }
  }
  // **************************************SECTION1********************************************

  #section1 {
    height: 550px;

    .textleft {
      padding: 0% 15% 0% 15%;
      h2 {
        font-size: 26px;
      }
      p {
        font-size: 14px;
      }
      #cook {
        width: 272px;
        height: 222px;
      }
    }
    .imgs1 {
      display: none;
    }
  }
  // *******************************************SECTION2****************************************
  .section2 {
    height: 540px;
    padding: 10% 9% 10% 44%;
    margin-left: auto;
    margin-right: auto;
    #margins2 {
      div {
        svg {
          width: 50%;
        }
        h2 {
          font-size: 26px;
          margin-bottom: 0;
        }
        p {
          font-size: 14px;
        }
        img {
          width: 377px;
          height: 103px;
        }
      }
    }
  }
  // ********************************************SECTION3**************************************
  #section3 {
    height: 600px;
    div {
      padding: 0% 5% 0% 5%;
      margin: 0% 0% 0% 0%;
      h2 {
        font-size: 26px;
      }
      p {
        font-size: 14px;
        line-height: 200%;
      }
      span {
        font-size: 10px;
      }
      .fa-quote-left {
        width: 5%;
        padding-right: 5%;
      }
    }
  }
  // ********************************************SECTION4*****************************************
  .section4 {
    height: 600px;
    #bloc4 {
      padding: 5% 10% 0% 4%;
      #containers4 {
        padding: 2% 0% 0% 0%;
      }
      #images4 {
        width: 30%;
        img {
          width: 230px;
          height: 467px;
        }
      }
      #blocdetext {
        padding: 0% 0% 0% 13%;
      }
      h2 {
        font-size: 26px;
        padding: 0;
      }
      p {
        font-size: 14px;
        padding-top: 2%;
        margin: 0;
      }
    }
  }
  // ***********************************************FOOTER*************************************
  footer {
    height: 200px;
    h3 {
      font-size: 14px;
    }
    svg {
      width: 65%;
    }
  }
  p {
    font-size: 10px;
  }
  #opening {
    div {
      padding: 12% 25% 0% 25%;
    }
    .fa-cc-mastercard {
      font-size: 15px;
    }
    .fa-cc-paypal {
      font-size: 15px;
    }
    .fa-cc-visa {
      font-size: 15px;
    }
    .fa-cc-discover {
      font-size: 15px;
    }
  }
  #location {
    div {
      padding: 12% 30% 0% 30%;
    }
    .fa-facebook-f {
      font-size: 12px;
    }
    .fa-youtube {
      font-size: 12px;
    }
    .fa-twitter {
      font-size: 12px;
    }
    .fa-poll {
      font-size: 12px;
    }
  }
}

// **********************************************1200px*********************************************
@media screen and (max-width: 1200px) {
  // ******************************************HEADER**************************************************
  #header {
    height: 450px;
    .headernav {
      nav {
        display: none;
      }
.dropdown {
  // display: inline-block;
  /* float: right; */
  display: flex;
  /* display: inline-block; */
  // position: static;
  /* flex-direction: column; */
  justify-content: flex-end;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: 'Open sans';
  font-weight: 700; 
  min-width: 127px;
  margin-top: 5%;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #cc9900;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: black;}


      #reseau {
        display: none;
      }
    }
    .txtandimg1 {
      h1 {
        font-size: 40px;
      }
    }
  }
  // ******************************************SECTION1******************************************
  #section1 {
    height: 450px;
    padding: 6% 22% 10% 22%;
    .textleft {
      padding: 0;
      #cook {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        width: 252px;
        height: 202px;
      }
    }
  }
  // ********************************************SECTION2************************************
  .section2 {
    height: 450px;
    #margins2 {
      div {
        img {
          width: 347px;
          // height: 63px;
        }
      }
    }
  }
  // *******************************************SECTION3*****************************************
  #section3 {
    padding-top: 2%;
    height: 520px;
    div {
      padding: 0% 9% 0% 9%;
      margin: 0% 0% 0% 0%;
    }
  }
  // *******************************************SECTION4***************************************
  .section4 {
    height: 550px;
    #bloc4 {
      padding: 3% 0% 0% 0%;
      h2 {
        padding: 0% 11% 2% 0%;
      }
      p {
        margin: 0;
      }
      #images4 {
        display: none;
      }
      #containers4 {
        padding: 0% 10% 2% 0%;
      }
      #booknow {
        margin: 0% 35% 0% 31%;
      }
      .form_part2 {
        padding-bottom: 5%;
      }
      #blocdetext {
        padding: 3% 8% 0% 16%;
      }
    }
  }
}
// ***********************************768px***************************************
@media screen and (max-width: 768px) {
  // ***********************************HEADER**************************************
  #header {
    #boutonheader {
      font-size: 13px;
    }
    #containerhead {
      width: 30%;
    }
    .txtandimg1 {
      h1 {
        font-size: 30px;
        margin-top: 30%;
      }
    }
  }
  // *******************************SECTION1************************************
  // *******************************SECTION2************************************
  .section2 {
    height: 525px;
    padding: 5% 10% 5% 10%;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    #margins2 {
      margin: 0% 0% 0% 0%;
      padding: 5% 0% 0% 0%;
      div {
        padding: 0;
        margin: 0% 10% 0% 10%;
        img {
          width: 309px;
          height: 91px;
          margin-top: 0;
          padding-top: 12%;
        }
        p {
          padding: 0% 15% 0% 15%;
        }
      }
    }
  }
  // ********************************SECTION3************************************
  #section3 {
    padding-top: 2%;
    height: 480px;
    div {
      margin: 4% 0% 0% 0%;
      width: 46%;
      height: 400px;

      p {
        line-height: 188%;
      }
    }
  }
  // *************************************SECTION4**********************************
  .section4 {
    height: 500px;
    display: flex;
    justify-content: center;
    #bloc4 {
      padding: 0% 0% 0% 0%;
      h2 {
        padding: 0% 10% 0% 0%;
      }
      p {
        margin: 0;
      }
      #containers4 {
        padding: 3% 10% 3% 0%;
      }
      #booknow {
        margin: 0% 31% 0% 21%;
      }
      .form_part1 {
        padding-bottom: 5%;
      }
      .form_part2 {
        padding-bottom: 5%;
      }
      #blocdetext {
        padding: 0% 0% 0% 10%;
      }
    }
  }
  // ***************************************FOOTER************************************
  footer {
    height: 180px;
    padding: 3% 4% 0% 4%;
  }
  #opening {
    div {
      padding: 10% 9% 0% 9%;
    }
    #location {
      div {
        padding: 12% 21% 0% 21%;
      }
    }
  }
}
// ********************************************600px************************************
@media screen and (max-width: 600px) {
  // *******************************************HEADER*************************************
  #header {
    height: 450px;
    .marginhead {
      margin: 0% 3% 0% 3%;
    }
  }
  .txtandimg1 {
    h1 {
      margin: 12% 0% 10% 0%;
      padding: 0% 0% 0% 0%;
    }
    #containerhead {
      display: none;
    }
  }
  #boutonheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0% 0% 0% 0%;
    padding: 0% 30% 0% 30%;
    #boutonbook {
      font-size: 15px;
      text-align: center;
      padding: 10% 10% 10% 10%;
      margin-bottom: 10%;
    }
    #boutonmenu {
      font-size: 15px;
      text-align: center;
      padding: 10% 10% 10% 10%;
    }
  }
  // ****************************SECTION1**********************
  #section1 {
    height: 420px;
    padding: 6% 0% 10% 0%;
    .textleft {
      p {
        font-size: 15.6px;
      }
    }
  }
  // *****************************SECTION2******************************
  .section2 {
    padding: 0% 0% 4% 0%;
  }

  // *****************************SECTION3*****************************
  #section3 {
    padding: 0% 0% 0% 0%;
    div {
      margin: 5% 0% 0% 0%;
      padding: 0% 5% 0% 5%;
      width: 70%;
    }
  }
  // ***************************SECTION4*******************************
  .section4 {
    height: 600px;
    display: flex;
    justify-content: center;
    #bloc4 {
      padding-top: 10%;
      p {
        padding: 0% 15% 0% 0%;
      }
      .formulaire {
        padding: 0% 0% 0% 0%;
      }
      .form_part1 {
        display: flex;
        flex-direction: column;
        margin: 0% 0% 0% 0%;
        padding: 0% 0% 0% 0%;
      }
      .form_part2 {
        display: flex;
        flex-direction: column;
        margin: 0% 0% 0% 0%;
        padding: 0% 0% 0% 0%;
      }
      #name {
        padding: 5% 0% 4% 25%;
      }
      #date {
        padding: 0% 0% 4% 25%;
      }
      #email {
        padding: 0% 0% 4% 25%;
      }
      #number {
        padding: 0% 0% 10% 25%;
      }
    }
  }
  // ***************************FOOTER************************
  footer {
    height: 220px;
  }
  #location {
    div {
      padding: 11% 17% 0% 12%;
    }
  }
}
