* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

font-face {
  font-family: "gentium" src url(font/gentiumbold.ttf);
}

font-face {
  font-family: "lato regular" src url(font/latoregular.ttf);
}

font-face {
  font-family: "opensans italic" src url(font/opensans_italic.ttf);
}

font-face {
  font-family: "opensans bold" src url(font/opensans_bold.ttf);
}

font-face {
  font-family: "opensans regular" src url(font/opensans_regular.ttf);
}

font-face {
  font-family: "yesevaone" src url(font/yesevaone.otf);
}

header {
  margin: 0;
  padding: 0;
  height: 750px;
  background-image: url(img/background_header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

header .marginhead {
  margin-left: 10%;
  margin-right: 10%;
}

header .headernav nav {
  font-family: 'gentium';
  font-size: 21px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 5%;
  padding-left: 10%;
}

header .headernav #logo {
  float: left;
  margin-top: 2%;
}

header .headernav #reseau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
}

header .txtandimg1 {
  margin: 12% 20% 0% 20%;
  padding: 0% 0% 0% 0%;
}

header .txtandimg1 h1 {
  font-family: 'yesevaone';
  font-size: 90px;
  text-align: center;
  color: white;
}

header .txtandimg1 #containerhead {
  margin-right: auto;
  margin-left: auto;
  margin-top: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4.5%;
  width: 23%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header #boutonheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3%;
  font-family: 'lato regular';
  font-size: 18px;
  color: white;
}

header #boutonheader #boutonbook {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1% 2% 1% 2%;
  border: solid 1px;
  border-color: black;
  margin-right: 2%;
}

header #boutonheader #boutonmenu {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1% 2% 1% 2%;
  border: solid 1px;
  border-color: white;
}

.section1 {
  background-image: url(img/background_s1.jpg);
  margin: 0;
  padding: 0;
  height: 710px;
  background-size: cover;
  background-repeat: no-repeat;
}

.section1 div {
  margin-left: 10%;
  margin-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 4%;
}

.section1 .textleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section1 .textleft h2 {
  font-family: 'yesevaone';
  font-size: 36px;
  color: #cc9900;
  text-align: center;
  margin-bottom: 4%;
}

.section1 .textleft p {
  font-family: 'lato regular';
  font-size: 16px;
  color: black;
  text-align: center;
}

.section1 .textleft #containers1 {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 9%;
}

.section1 .textleft #cook {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 11%;
}

.section1 #imgs1 {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */