* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

@font-face {
  font-family: "Yeseva One";
  src: "font/yeseva_one.ttf";
}

#header {
  margin: 0;
  padding: 0;
  height: 750px;
  background-image: url(img/background_header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#header .marginhead {
  margin-left: 10%;
  margin-right: 10%;
}

#header .headernav {
  /* Style the links inside the sidenav */
  /* The about link: 20px from the top */
}

#header .headernav nav {
  font-family: "Gentium Book Basic";
  font-weight: 700;
  font-size: 21px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 11%;
}

#header .headernav nav li:hover {
  color: #cc9900;
}

#header .headernav .dropdown {
  display: none;
}

#header .headernav #mySidenav a {
  position: fixed;
  left: -63px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 10px;
  width: 78px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Open sans';
  font-weight: 700;
  color: white;
  border-radius: 0 5px 5px 0;
}

#header .headernav #mySidenav a:hover {
  left: 0;
  /* On mouse-over, make the elements appear as they should */
}

#header .headernav #hautpage {
  bottom: 13px;
  background-color: #cc9900;
}

#header .headernav #logo {
  float: left;
  margin-top: 2%;
}

#header .headernav .fa-twitter {
  color: #cc9900;
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 200%;
}

#header .headernav .fa-twitter:hover {
  color: white;
  cursor: pointer;
}

#header .headernav .fa-youtube {
  color: #cc9900;
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 80%;
}

#header .headernav .fa-youtube:hover {
  color: white;
  cursor: pointer;
}

#header .headernav .fa-facebook-f {
  color: #cc9900;
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
}

#header .headernav .fa-facebook-f:hover {
  color: white;
  cursor: pointer;
}

.txtandimg1 {
  margin: 12% 13% 0% 13%;
  padding: 0% 0% 0% 0%;
}

.txtandimg1 h1 {
  font-family: "Yeseva One";
  font-size: 90px;
  text-align: center;
  color: white;
}

.txtandimg1 #containerhead {
  margin-right: auto;
  margin-left: auto;
  margin-top: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4.5%;
  width: 23%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#boutonheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3%;
  font-family: "Lato";
  font-size: 18px;
  color: white;
}

#boutonheader #boutonbook {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1% 2% 1% 2%;
  border: solid 1px;
  border-color: black;
  margin-right: 2%;
}

#boutonheader #boutonbook:hover {
  background-color: black;
}

#boutonheader #boutonmenu {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1% 2% 1% 2%;
  border: solid 1px;
  border-color: white;
}

#boutonheader #boutonmenu:hover {
  background-color: white;
  color: black;
}

#section1 {
  background-image: url(img/background_s1.jpg);
  margin: 0;
  padding: 0;
  height: 710px;
  background-size: cover;
  background-repeat: no-repeat;
}

#section1 div {
  margin-left: 10%;
  margin-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1%;
}

#section1 .textleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section1 .textleft h2 {
  font-family: "Yeseva One";
  font-size: 36px;
  color: #cc9900;
  text-align: center;
  margin-bottom: 4%;
}

#section1 .textleft p {
  font-family: "Lato";
  font-size: 16px;
  color: black;
  text-align: center;
}

#section1 .textleft #containers1 {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 9%;
}

#section1 .textleft #cook {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 11%;
  margin-top: 11%;
}

#section1 #imgs1 {
  margin: 0;
}

.section2 {
  background-image: url(img/background_s2.jpg);
  margin: 0;
  padding: 4% 3% 0% 50%;
  height: 710px;
  background-size: cover;
  background-repeat: no-repeat;
}

.section2 #margins2 {
  margin-left: 10%;
  margin-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section2 #margins2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 500px;
  padding: 0% 10% 0% 10%;
}

.section2 #margins2 div svg {
  width: 31%;
  margin-left: auto;
  margin-right: auto;
}

.section2 #margins2 div h2 {
  font-family: "Yeseva One";
  font-size: 36px;
  color: white;
  text-align: center;
  margin-bottom: 4%;
}

.section2 #margins2 div p {
  font-family: "Lato";
  font-size: 16px;
  color: white;
  text-align: center;
}

.section2 #margins2 div img {
  margin-left: auto;
  margin-right: auto;
  padding-top: 14%;
}

#section3 {
  background-image: url(img/background_s3.jpg);
  margin: 0;
  padding: 0;
  height: 750px;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 8%;
}

#section3 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 500px;
  padding: 0% 10% 0% 10%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

#section3 div h2 {
  font-family: "Yeseva One";
  font-size: 36px;
  color: white;
  text-align: center;
}

#section3 div svg {
  width: 37%;
  margin-left: auto;
  margin-right: auto;
}

#section3 div p {
  font-family: "Gentium Book Basic";
  font-weight: 700;
  font-size: 25px;
  color: white;
  text-align: center;
  margin-bottom: 6%;
}

#section3 div span {
  font-family: "Lato";
  font-size: 18px;
  color: white;
  text-align: center;
}

#section3 div .fa-quote-left {
  color: #a0a6a5;
  width: 12%;
  padding: 0% 1% 0% 0%;
  vertical-align: 47%;
}

.section4 {
  background-image: url(img/background_s1.jpg);
  margin: 0;
  padding: 0;
  height: 710px;
  background-size: cover;
  background-repeat: no-repeat;
}

.section4 #bloc4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 500px;
  padding: 5% 10% 0% 10%;
  margin-left: auto;
  margin-right: auto;
}

.section4 #bloc4 #blocdetext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0% 0% 0% 7%;
}

.section4 #bloc4 h2 {
  font-family: "Yeseva One";
  font-size: 36px;
  color: #cc9900;
  text-align: center;
  padding: 0% 0% 1% 0%;
}

.section4 #bloc4 #containers4 {
  margin-left: auto;
  margin-right: auto;
  width: 37%;
}

.section4 #bloc4 p {
  font-family: "lato regular";
  font-size: 16px;
  color: black;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 9%;
}

.section4 #bloc4 label {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 14px;
  color: #cc9900;
}

.section4 #bloc4 #date:after {
  display: none;
}

.section4 #bloc4 #images4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 5%;
}

.section4 #bloc4 #imgres {
  margin-right: 5%;
}

.section4 #bloc4 #formulaire {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 10%;
}

.section4 #bloc4 input {
  height: 100%;
  font-size: 90%;
  padding: 3% 3% 3% 4%;
  font-family: "Open sans";
  font-weight: 400i;
}

.section4 #bloc4 .form_part1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2% 0% 11% 0%;
}

.section4 #bloc4 .form_part2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 10%;
}

.section4 #bloc4 #name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0% 10% 0% 0%;
  width: 40%;
}

.section4 #bloc4 #email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0% 10% 0% 0%;
  width: 40%;
}

.section4 #bloc4 #date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0% 10% 0% 0%;
  width: 40%;
}

.section4 #bloc4 #number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0% 10% 0% 0%;
  width: 40%;
}

.section4 #bloc4 #booknow {
  color: white;
  font-family: "Open Sans";
  font-size: 16px;
  background-color: #cc9900;
  margin: 0% 23% 0% 23%;
  padding: 1.5% 0% 1.5% 0%;
  text-align: center;
}

footer {
  background-color: #191919;
  height: 320px;
  padding: 3% 10% 0% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer h3 {
  font-family: "Yeseva One";
  font-size: 21px;
  color: white;
  text-align: center;
}

footer svg {
  width: 42%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

p {
  font-family: "Open Sans";
  font-size: "16px";
  color: white;
  text-align: center;
}

span {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: "16px";
  color: white;
}

#about {
  width: 30%;
}

#opening {
  width: 25%;
}

#opening .fa-cc-mastercard {
  color: white;
}

#opening .fa-cc-paypal {
  color: white;
}

#opening .fa-cc-visa {
  color: white;
}

#opening .fa-cc-discover {
  color: white;
}

#opening div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 11% 30% 0% 30%;
}

#location {
  width: 25%;
}

#location div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 11% 30% 0% 30%;
}

#location .fa-facebook-f {
  color: white;
}

#location .fa-youtube {
  color: white;
}

#location .fa-twitter {
  color: white;
}

#location .fa-poll {
  color: white;
}

#location .fa-facebook-f:hover {
  color: #cc9900;
  cursor: pointer;
}

#location .fa-youtube:hover {
  color: #cc9900;
  cursor: pointer;
}

#location .fa-twitter:hover {
  color: #cc9900;
  cursor: pointer;
}

#location .fa-poll:hover {
  color: #cc9900;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  #header {
    height: 500px;
  }
  #header .headernav nav {
    font-size: 17px;
  }
  #header .txtandimg1 h1 {
    font-size: 50px;
    margin-top: 3%;
  }
  #header .txtandimg1 #containerhead {
    width: 19%;
  }
  #header #boutonheader {
    font-size: 15px;
  }
  #header #boutonheader #boutonbook {
    margin-right: 1.5%;
  }
  #section1 {
    height: 550px;
  }
  #section1 .textleft {
    padding: 0% 15% 0% 15%;
  }
  #section1 .textleft h2 {
    font-size: 26px;
  }
  #section1 .textleft p {
    font-size: 14px;
  }
  #section1 .textleft #cook {
    width: 272px;
    height: 222px;
  }
  #section1 .imgs1 {
    display: none;
  }
  .section2 {
    height: 540px;
    padding: 10% 9% 10% 44%;
    margin-left: auto;
    margin-right: auto;
  }
  .section2 #margins2 div svg {
    width: 50%;
  }
  .section2 #margins2 div h2 {
    font-size: 26px;
    margin-bottom: 0;
  }
  .section2 #margins2 div p {
    font-size: 14px;
  }
  .section2 #margins2 div img {
    width: 377px;
    height: 103px;
  }
  #section3 {
    height: 600px;
  }
  #section3 div {
    padding: 0% 5% 0% 5%;
    margin: 0% 0% 0% 0%;
  }
  #section3 div h2 {
    font-size: 26px;
  }
  #section3 div p {
    font-size: 14px;
    line-height: 200%;
  }
  #section3 div span {
    font-size: 10px;
  }
  #section3 div .fa-quote-left {
    width: 5%;
    padding-right: 5%;
  }
  .section4 {
    height: 600px;
  }
  .section4 #bloc4 {
    padding: 5% 10% 0% 4%;
  }
  .section4 #bloc4 #containers4 {
    padding: 2% 0% 0% 0%;
  }
  .section4 #bloc4 #images4 {
    width: 30%;
  }
  .section4 #bloc4 #images4 img {
    width: 230px;
    height: 467px;
  }
  .section4 #bloc4 #blocdetext {
    padding: 0% 0% 0% 13%;
  }
  .section4 #bloc4 h2 {
    font-size: 26px;
    padding: 0;
  }
  .section4 #bloc4 p {
    font-size: 14px;
    padding-top: 2%;
    margin: 0;
  }
  footer {
    height: 200px;
  }
  footer h3 {
    font-size: 14px;
  }
  footer svg {
    width: 65%;
  }
  p {
    font-size: 10px;
  }
  #opening div {
    padding: 12% 25% 0% 25%;
  }
  #opening .fa-cc-mastercard {
    font-size: 15px;
  }
  #opening .fa-cc-paypal {
    font-size: 15px;
  }
  #opening .fa-cc-visa {
    font-size: 15px;
  }
  #opening .fa-cc-discover {
    font-size: 15px;
  }
  #location div {
    padding: 12% 30% 0% 30%;
  }
  #location .fa-facebook-f {
    font-size: 12px;
  }
  #location .fa-youtube {
    font-size: 12px;
  }
  #location .fa-twitter {
    font-size: 12px;
  }
  #location .fa-poll {
    font-size: 12px;
  }
}

@media screen and (max-width: 1200px) {
  #header {
    height: 450px;
  }
  #header .headernav {
    /* Links inside the dropdown */
    /* Change color of dropdown links on hover */
    /* Show the dropdown menu on hover */
    /* Change the background color of the dropdown button when the dropdown content is shown */
  }
  #header .headernav nav {
    display: none;
  }
  #header .headernav .dropdown {
    /* float: right; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* display: inline-block; */
    /* flex-direction: column; */
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #header .headernav .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    font-family: 'Open sans';
    font-weight: 700;
    min-width: 127px;
    margin-top: 5%;
    z-index: 1;
  }
  #header .headernav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  #header .headernav .dropdown-content a:hover {
    background-color: #cc9900;
  }
  #header .headernav .dropdown:hover .dropdown-content {
    display: block;
  }
  #header .headernav .dropdown:hover .dropbtn {
    background-color: black;
  }
  #header .headernav #reseau {
    display: none;
  }
  #header .txtandimg1 h1 {
    font-size: 40px;
  }
  #section1 {
    height: 450px;
    padding: 6% 22% 10% 22%;
  }
  #section1 .textleft {
    padding: 0;
  }
  #section1 .textleft #cook {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 252px;
    height: 202px;
  }
  .section2 {
    height: 450px;
  }
  .section2 #margins2 div img {
    width: 347px;
  }
  #section3 {
    padding-top: 2%;
    height: 520px;
  }
  #section3 div {
    padding: 0% 9% 0% 9%;
    margin: 0% 0% 0% 0%;
  }
  .section4 {
    height: 550px;
  }
  .section4 #bloc4 {
    padding: 3% 0% 0% 0%;
  }
  .section4 #bloc4 h2 {
    padding: 0% 11% 2% 0%;
  }
  .section4 #bloc4 p {
    margin: 0;
  }
  .section4 #bloc4 #images4 {
    display: none;
  }
  .section4 #bloc4 #containers4 {
    padding: 0% 10% 2% 0%;
  }
  .section4 #bloc4 #booknow {
    margin: 0% 35% 0% 31%;
  }
  .section4 #bloc4 .form_part2 {
    padding-bottom: 5%;
  }
  .section4 #bloc4 #blocdetext {
    padding: 3% 8% 0% 16%;
  }
}

@media screen and (max-width: 768px) {
  #header #boutonheader {
    font-size: 13px;
  }
  #header #containerhead {
    width: 30%;
  }
  #header .txtandimg1 h1 {
    font-size: 30px;
    margin-top: 30%;
  }
  .section2 {
    height: 525px;
    padding: 5% 10% 5% 10%;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
  }
  .section2 #margins2 {
    margin: 0% 0% 0% 0%;
    padding: 5% 0% 0% 0%;
  }
  .section2 #margins2 div {
    padding: 0;
    margin: 0% 10% 0% 10%;
  }
  .section2 #margins2 div img {
    width: 309px;
    height: 91px;
    margin-top: 0;
    padding-top: 12%;
  }
  .section2 #margins2 div p {
    padding: 0% 15% 0% 15%;
  }
  #section3 {
    padding-top: 2%;
    height: 480px;
  }
  #section3 div {
    margin: 4% 0% 0% 0%;
    width: 46%;
    height: 400px;
  }
  #section3 div p {
    line-height: 188%;
  }
  .section4 {
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section4 #bloc4 {
    padding: 0% 0% 0% 0%;
  }
  .section4 #bloc4 h2 {
    padding: 0% 10% 0% 0%;
  }
  .section4 #bloc4 p {
    margin: 0;
  }
  .section4 #bloc4 #containers4 {
    padding: 3% 10% 3% 0%;
  }
  .section4 #bloc4 #booknow {
    margin: 0% 31% 0% 21%;
  }
  .section4 #bloc4 .form_part1 {
    padding-bottom: 5%;
  }
  .section4 #bloc4 .form_part2 {
    padding-bottom: 5%;
  }
  .section4 #bloc4 #blocdetext {
    padding: 0% 0% 0% 10%;
  }
  footer {
    height: 180px;
    padding: 3% 4% 0% 4%;
  }
  #opening div {
    padding: 10% 9% 0% 9%;
  }
  #opening #location div {
    padding: 12% 21% 0% 21%;
  }
}

@media screen and (max-width: 600px) {
  #header {
    height: 450px;
  }
  #header .marginhead {
    margin: 0% 3% 0% 3%;
  }
  .txtandimg1 h1 {
    margin: 12% 0% 10% 0%;
    padding: 0% 0% 0% 0%;
  }
  .txtandimg1 #containerhead {
    display: none;
  }
  #boutonheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0% 0% 0% 0%;
    padding: 0% 30% 0% 30%;
  }
  #boutonheader #boutonbook {
    font-size: 15px;
    text-align: center;
    padding: 10% 10% 10% 10%;
    margin-bottom: 10%;
  }
  #boutonheader #boutonmenu {
    font-size: 15px;
    text-align: center;
    padding: 10% 10% 10% 10%;
  }
  #section1 {
    height: 420px;
    padding: 6% 0% 10% 0%;
  }
  #section1 .textleft p {
    font-size: 15.6px;
  }
  .section2 {
    padding: 0% 0% 4% 0%;
  }
  #section3 {
    padding: 0% 0% 0% 0%;
  }
  #section3 div {
    margin: 5% 0% 0% 0%;
    padding: 0% 5% 0% 5%;
    width: 70%;
  }
  .section4 {
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section4 #bloc4 {
    padding-top: 10%;
  }
  .section4 #bloc4 p {
    padding: 0% 15% 0% 0%;
  }
  .section4 #bloc4 .formulaire {
    padding: 0% 0% 0% 0%;
  }
  .section4 #bloc4 .form_part1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
  }
  .section4 #bloc4 .form_part2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
  }
  .section4 #bloc4 #name {
    padding: 5% 0% 4% 25%;
  }
  .section4 #bloc4 #date {
    padding: 0% 0% 4% 25%;
  }
  .section4 #bloc4 #email {
    padding: 0% 0% 4% 25%;
  }
  .section4 #bloc4 #number {
    padding: 0% 0% 10% 25%;
  }
  footer {
    height: 220px;
  }
  #location div {
    padding: 11% 17% 0% 12%;
  }
}
/*# sourceMappingURL=style.css.map */